
.gool {
  padding: 10px;
} 
.cart{
  width: 100%;
 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ToursCared{
  border: 2px solid #ddd  ;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 850px) {
  .gool {
    padding: 8px;
    
  }
}














/* @media (max-width: 600px) {
  .gool {
    padding: 5px;
  }
}
@media (max-width: 400px) {
  .gool {
    padding: 0px;
  }
}

.img {
  width: 100%;
  height: 200px;
}

@media (max-width: 600px) {
  .img {
    height: 150px;
  }
}
@media (max-width: 400px) {
  .img {
    height: 120px;
  }
}
@media (max-width: 300px) {
  .img {
    height: 100px;
  }
} */
