.img{
    width: 100%;
   height: 200px;
}
.im-inf{
   width: 225px;
  
   border: 2px solid #f0828256  ;
}
.info{

   padding: 10px;
   background-image: linear-gradient(to right, #dbabab, #8b4242);
}

@media screen {
   .All{
      padding: 10px;
   }
}

@media (max-width: 600px) {
   .All{
      padding: 0px;
   }
}
@media (max-width: 600px) {
   .img{
      height: 150px;
   }
}
@media (max-width: 400px) {
   .img{
      height: 120px;
   }
}
@media (max-width: 300px) {
   .img{
      height: 100px;
   }
}
    